# Build The Dataframe

## Import the necessary libraries

In [1]:
import pandas as pd 
import requests

Now use the requests to get the HTML for the Canada postal codes

In [2]:
url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
htmltext = url.text
# print(htmltext)

Using Beautiful Soup it allows use to find the table that contains the 
postal code.

In [3]:
from bs4 import BeautifulSoup
import bs4

soup = bs4.BeautifulSoup(htmltext, 'lxml')
table = soup.find('table','wikitable sortable')
#print (table)

   Now we need to parse the table into columns and store in the dataframe

In [4]:
            n_columns = 0
            n_rows=0
            column_names = []
    
            # Find number of rows and columns
            # we also find the column titles if we can
            for row in table.find_all('tr'):
                
                # Determine the number of rows in the table
                td_tags = row.find_all('td')
                if len(td_tags) > 0:
                    n_rows+=1
                    if n_columns == 0:
                        # Set the number of columns for our table
                        n_columns = len(td_tags)
                        
                # Handle column names if we find them
                th_tags = row.find_all('th') 
                if len(th_tags) > 0 and len(column_names) == 0:
                    for th in th_tags:
                        column_names.append(th.get_text().replace('\n', ''))
    
            # Safeguard on Column Titles
            if len(column_names) > 0 and len(column_names) != n_columns:
                raise Exception("Column titles do not match the number of columns")
            print (column_names)
            columns = column_names if len(column_names) > 0 else range(0,n_columns)
            df = pd.DataFrame(columns = columns,
                              index= range(0,n_rows))
            row_marker = 0
            for row in table.find_all('tr'):
                column_marker = 0
                columns = row.find_all('td')
                for column in columns:
                    df.iat[row_marker,column_marker] = column.get_text()
                    column_marker += 1
                if len(columns) > 0:
                    row_marker += 1

['Postcode', 'Borough', 'Neighbourhood']

Show the first 20 rows

In [5]:
df.head()

  Postcode           Borough       Neighbourhood
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

We need to remove the newline in order to get the proper
column and data

In [6]:
df = df.replace('\n','', regex=True)

Only keep assigned borough names

In [7]:
df = df[df.Borough != "Not assigned"]

In [8]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Now we group by postal code and borough and comma delimit all of the neighborhoos

In [9]:
dfg = df.groupby(['Postcode','Borough'])['Neighbourhood'].agg([('Neighbourhood', ', '.join)]).reset_index()

In [10]:
dfg.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [11]:
dfg.shape

(103, 3)

## Installing Geocoder

In [12]:
!conda install -c conda-forge geocoder --yes

Collecting package metadata: done
Solving environment: done

# All requested packages already installed.

Was able to install Geocode but I could never get it to work properly
Using the CSV provided (This takes some time to download)

In [13]:
!wget -O Geospatial_data.csv http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv

--2019-03-16 13:53:43--  http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
Resolving cocl.us (cocl.us)... 169.48.113.201
Connecting to cocl.us (cocl.us)|169.48.113.201|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv [following]
--2019-03-16 13:53:44--  https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
Connecting to cocl.us (cocl.us)|169.48.113.201|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-03-16 13:53:45--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.27.197, 107.152.26.197
Connecting to ibm.box.com (ibm.box.com)|107.152.27.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-03-16 13:53:45--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-03-16 13:53:45--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.24.211, 107.152.25.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.24.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!9TkLDkdx2SMojR7Og-eDrBrF2TaE5TMvUS7yWLr7wu7H6R5LTiA7aYvXkd1X-uGoF6m703kyxX1tL_HRbxSqEr2qB_wkK2Nv4c_3GlJr17n9Y5od7700zFvxnG9waKQItVlTKA6Ov9lNR5sQ5Wd0JTyctRXE4MmntYR431WY28bWi77Eq1b-r0D92tTTVWwkXW3ZU8o8ImULPpLDdWx2p-uKCXTa3ugqYphtATZ22Ycj7sGT-Um-KXeUgcKk9z9lYBJk-GJDqc7TE2-p56wpgm0e9KkQRCLVxsoCwWdh6uNgCirqCrqXNUR7giK4aIc_PEpRXAxSXig1EfVKKYjHJ1OJmuIkYOsLRTJ8vM5FpDWea0ay3JAWKIJL1wSUPOWtXOg_TE3B9hpcMDyldo5Q8IkXcuR9ybbedCe1CiO5MQ7aY2S6eLPUJdhyvohlP6S1hjalup4oO3dw2wau76bx5GG2exwWoC8lMYwRnliBdaAqSbMGGJb-_-yL9HCrThA6Iq2N87l2pLE_YPVmL7YQbgEUEspgnERWul-ef1GCQh-cgbz2TCvTeUyiBGTMCYwPYi-GZdlfDLOdliRkhvzJqsKhbkHETlT0rcjWyhT16zQWgAB9GgdOjvennRG4Rkjw_zYagOE0MJAKWAG_kz-0WL4EPTS8Zo9sHV9cJ3NKpUl1honwsYeABmqxlv1CDiHDUkEEAYvsTACOW5MzY9AJtX10M7lRHVD5SaVAZLMu7A5_bnNX0XlDce8fAXzkJdSpE60GCEEh_jpOkaGdtkzTa2W3lDW1QFccMkOvnoi6SEH2zbJZXyPqy0OglkWbe7J1RzQr0--3xl3Ga-kmmgs4Y1bwvnLOrKRZHsEjcqCOL1LzcX2D7CKtAwKoztb7jXzG1aNdEQ0qyqFFCawx2thO8POljtrntCLhVL_k7Epl5U1ipRHePDWd6TVAyT4FFLqPMCTyUY7InwxZFn_uEyfewPHKGO4rplQERYSS3wazFuOpaMStuw8kJFy0twF4BIEhdkqXi-qnen3GLR_8FcKJKf-eTFWceWnqsJDQObzmXQ8RMhw5MbHYSeDPQwY22QYOdXfb8WCwtrPR8iVie8rLoNRj-eGDdrJ1iur-H1D75zGndd3LnnXpVROtotIFgRpf8EIPQNwAKKBxIOPcWf7DA95lvyiI_AwEDFGko8XuYq4OkvTw1ZdRsOpyd2PoKNtoPz88Ji2evtesgh25QM-ECvibGl_Zz35lWDUbqcByTKppj-9bApk_rkg7O4MQrdF0lu_kSlYQVFkEQ6jfOyvQSV35YhivEvBXMampIJ77qnfu_GAO45iZS12Hr8gTiZupF1ShrmO5IWK_xrJ_Ta5-bjszCl_YOtio_T9B2IGXDHDcvUq-nG6ffyPk-m9hYeL8qr1zJHGNgDJXkeufHtbGMyDV_PYY6rWeyV1pBVRu7s41jFnZdCc./download [following]
--2019-03-16 13:53:46--  https://public.boxcloud.com/d/1/b1!9TkLDkdx2SMojR7Og-eDrBrF2TaE5TMvUS7yWLr7wu7H6R5LTiA7aYvXkd1X-uGoF6m703kyxX1tL_HRbxSqEr2qB_wkK2Nv4c_3GlJr17n9Y5od7700zFvxnG9waKQItVlTKA6Ov9lNR5sQ5Wd0JTyctRXE4MmntYR431WY28bWi77Eq1b-r0D92tTTVWwkXW3ZU8o8ImULPpLDdWx2p-uKCXTa3ugqYphtATZ22Ycj7sGT-Um-KXeUgcKk9z9lYBJk-GJDqc7TE2-p56wpgm0e9KkQRCLVxsoCwWdh6uNgCirqCrqXNUR7giK4aIc_PEpRXAxSXig1EfVKKYjHJ1OJmuIkYOsLRTJ8vM5FpDWea0ay3JAWKIJL1wSUPOWtXOg_TE3B9hpcMDyldo5Q8IkXcuR9ybbedCe1CiO5MQ7aY2S6eLPUJdhyvohlP6S1hjalup4oO3dw2wau76bx5GG2exwWoC8lMYwRnliBdaAqSbMGGJb-_-yL9HCrThA6Iq2N87l2pLE_YPVmL7YQbgEUEspgnERWul-ef1GCQh-cgbz2TCvTeUyiBGTMCYwPYi-GZdlfDLOdliRkhvzJqsKhbkHETlT0rcjWyhT16zQWgAB9GgdOjvennRG4Rkjw_zYagOE0MJAKWAG_kz-0WL4EPTS8Zo9sHV9cJ3NKpUl1honwsYeABmqxlv1CDiHDUkEEAYvsTACOW5MzY9AJtX10M7lRHVD5SaVAZLMu7A5_bnNX0XlDce8fAXzkJdSpE60GCEEh_jpOkaGdtkzTa2W3lDW1QFccMkOvnoi6SEH2zbJZXyPqy0OglkWbe7J1RzQr0--3xl3Ga-kmmgs4Y1bwvnLOrKRZHsEjcqCOL1LzcX2D7CKtAwKoztb7jXzG1aNdEQ0qyqFFCawx2thO8POljtrntCLhVL_k7Epl5U1ipRHePDWd6TVAyT4FFLqPMCTyUY7InwxZFn_uEyfewPHKGO4rplQERYSS3wazFuOpaMStuw8kJFy0twF4BIEhdkqXi-qnen3GLR_8FcKJKf-eTFWceWnqsJDQObzmXQ8RMhw5MbHYSeDPQwY22QYOdXfb8WCwtrPR8iVie8rLoNRj-eGDdrJ1iur-H1D75zGndd3LnnXpVROtotIFgRpf8EIPQNwAKKBxIOPcWf7DA95lvyiI_AwEDFGko8XuYq4OkvTw1ZdRsOpyd2PoKNtoPz88Ji2evtesgh25QM-ECvibGl_Zz35lWDUbqcByTKppj-9bApk_rkg7O4MQrdF0lu_kSlYQVFkEQ6jfOyvQSV35YhivEvBXMampIJ77qnfu_GAO45iZS12Hr8gTiZupF1ShrmO5IWK_xrJ_Ta5-bjszCl_YOtio_T9B2IGXDHDcvUq-nG6ffyPk-m9hYeL8qr1zJHGNgDJXkeufHtbGMyDV_PYY6rWeyV1pBVRu7s41jFnZdCc./download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.27.200, 107.152.26.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.27.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_data.csv’

Geospatial_data.csv 100%[=====================>]   2.82K  --.-KB/s   in 0s

2019-03-16 13:53:46 (55.6 MB/s) - ‘Geospatial_data.csv’ saved [2891/2891]

In [14]:
Geospatial_data_df = pd.read_csv("Geospatial_data.csv")
Geospatial_data_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Rename Postal Code to be the same as the DFG since it makes the merge easier to read

In [15]:
Geospatial_data_df.rename(columns={'Postal Code': 'Postcode'}, inplace=True)

In [16]:
Geospatial_data_df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [17]:
df3 = pd.merge(dfg, Geospatial_data_df, on='Postcode')

In [18]:
df3.head(20)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577
15,M1W,Scarborough,"L'Amoreaux West, Steeles West",43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975